<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cursos</title>
    <style>
        th,
        td,
        tr {
            padding: 10px 50px 10px 0;
            text-align: left;
        }
    </style>
</head>

<body>
    <h1>Lista Cursos</h1>
    <table>
        <thead>
            <th>ID</th>
            <th>Titulo</th>
            <th>Descripcion</th>
            <th>Duracion</th>
        </thead>
        <tbody>
            <% cursos.forEach(curso=> { %>
                <tr>
                    <td>
                        <%= curso.id %>
                    </td>
                    <td>
                        <%= curso.titulo %>
                    </td>
                    <td>
                        <%= curso.descripcion %>
                    </td>
                    <td>
                        <%= curso.duracion %> horas
                    </td>
                    <td>
                        <button onclick="eliminar('<%= curso.id %>')">Eliminar</button>
                    </td>
                </tr>
                <% }); %>
        </tbody>
    </table>
    <br>
    <h1>Agregar Curso</h1>
    <form id="agregarForm">
        <label for="tituloCurso">Titulo:</label>
        <input type="text" id="tituloCurso" required>

        <label for="descripcionCurso">Descripcion:</label>
        <input type="text" id="descripcionCurso" required>

        <label for="duracionCurso">Duracion (horas):</label>
        <input type="text" id="duracionCurso" required>

        <button type="submit">Agregar</button>
    </form>
    <br>
    <div id="messageAgregar"></div>
    <br>
    <h1>Buscar Curso</h1>
    <form id="buscarForm">
        <label for="idCursoBuscar">ID:</label>
        <input type="text" id="idCursoBuscar" required>

        <button type="submit">Buscar</button>
    </form>
    <br>
    <div id="messageBuscar"></div>
    <br>
    <h1>Buscar Cursos Estudiante</h1>
    <form id="buscarEdadForm">
        <label for="idEstudiante">ID Estudiante:</label>
        <input type="text" id="idEstudiante" required>

        <button type="submit">Buscar Cursos</button>
    </form>
    <br>
    <div id="cursosEstudiante"></div>

    <script>

        async function eliminar(idEliminar) {
            try {
                const response = await fetch(`/courses/${idEliminar}`, {
                    method: 'DELETE'
                });

                const data = await response.json();

                if (data.success) {
                    window.location.href = '/courses'
                } else {
                    console.error(data.message);
                }

            } catch (error) {
                console.error(error);
            }
        }

        document.getElementById('agregarForm').addEventListener('submit', async function (evento) {
            evento.preventDefault();

            const tituloCurso = document.getElementById('tituloCurso').value;
            const descripcionCurso = document.getElementById('descripcionCurso').value;
            const duracionCurso = document.getElementById('duracionCurso').value;

            try {
                const response = await fetch('/courses', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ tituloCurso, descripcionCurso, duracionCurso })
                });

                const data = await response.json();

                document.getElementById('messageAgregar').innerText = data.message;

                if (data.success) {
                    setTimeout(() => {
                        window.location.href = '/courses';
                    }, 1000);
                } else {
                    setTimeout(() => {
                        document.getElementById('messageAgregar').innerText = '';
                    }, 2000);
                }

            } catch (error) {
                console.error(error);
            }

        });

        document.getElementById('buscarForm').addEventListener('submit', async function (evento) {
            evento.preventDefault();

            const idCursoBuscar = document.getElementById('idCursoBuscar').value;

            try {
                const response = await fetch(`/courses/${idCursoBuscar}`, {
                    method: 'GET'
                });

                const data = await response.json();

                if (data.success) {
                    document.getElementById('messageBuscar').innerHTML =
                        `
                        ID: ${data.cursoBuscado.id}<br>
                        Nombre: ${data.cursoBuscado.titulo}<br>
                        Email: ${data.cursoBuscado.descripcion}<br>
                        Edad: ${data.cursoBuscado.duracion} horas
                    `;
                } else {
                    document.getElementById('messageBuscar').innerText = data.message;

                    setTimeout(() => {
                        document.getElementById('messageBuscar').innerText = '';
                    }, 1000);

                }

            } catch (error) {
                console.error(error);
            }

        });

        function crearTableEstudiante(estudiante) {
            try {
                document.getElementById('cursosEstudiante').innerHTML = '<h3>-- Datos Estudiante --</h3>';

                const tableCursosEstudiante = document.createElement('table');

                const headers = document.createElement('tr');

                const head1 = document.createElement('th');
                head1.textContent = 'ID';
                headers.appendChild(head1);
                const head2 = document.createElement('th');
                head2.textContent = 'Nombre';
                headers.appendChild(head2);
                const head3 = document.createElement('th');
                head3.textContent = 'Email';
                headers.appendChild(head3);
                const head4 = document.createElement('th');
                head4.textContent = 'Edad';
                headers.appendChild(head4);

                tableCursosEstudiante.appendChild(headers);

                const fila = document.createElement('tr');

                const idCelda = document.createElement('td');
                idCelda.textContent = estudiante.id;
                fila.appendChild(idCelda);

                const nombreCelda = document.createElement('td');
                nombreCelda.textContent = estudiante.nombre;
                fila.appendChild(nombreCelda);

                const emailCelda = document.createElement('td');
                emailCelda.textContent = estudiante.email;
                fila.appendChild(emailCelda);

                const edadCelda = document.createElement('td');
                edadCelda.textContent = estudiante.edad;
                fila.appendChild(edadCelda);

                tableCursosEstudiante.appendChild(fila);

                document.getElementById('cursosEstudiante').appendChild(tableCursosEstudiante);

            } catch (error) {
                console.error(error);
            }
        }

        async function crearTableCursos(cursos) {
            try {
                document.getElementById('cursosEstudiante').innerHTML += '<h3>-- Datos Cursos --</h3>';

                const tableUsuariosCon = document.createElement('table');

                const headers = document.createElement('tr');

                const head1 = document.createElement('th');
                head1.textContent = 'ID';
                headers.appendChild(head1);
                const head2 = document.createElement('th');
                head2.textContent = 'Titulo';
                headers.appendChild(head2);
                const head3 = document.createElement('th');
                head3.textContent = 'Descripcion';
                headers.appendChild(head3);
                const head4 = document.createElement('th');
                head4.textContent = 'Duracion';
                headers.appendChild(head4);

                tableUsuariosCon.appendChild(headers);

                cursos.forEach(curso => {
                    const fila = document.createElement('tr');

                    const idCelda = document.createElement('td');
                    idCelda.textContent = curso.id;
                    fila.appendChild(idCelda);

                    const tituloCelda = document.createElement('td');
                    tituloCelda.textContent = curso.titulo;
                    fila.appendChild(tituloCelda);

                    const descripcionCelda = document.createElement('td');
                    descripcionCelda.textContent = curso.descripcion;
                    fila.appendChild(descripcionCelda);

                    const duracionCelda = document.createElement('td');
                    duracionCelda.textContent = curso.duracion + ' horas';
                    fila.appendChild(duracionCelda);

                    tableUsuariosCon.appendChild(fila);
                });

                document.getElementById('cursosEstudiante').appendChild(tableUsuariosCon);

            } catch (error) {
                console.error(error);
            }
        }

        document.getElementById('buscarEdadForm').addEventListener('submit', async function (evento) {
            evento.preventDefault();

            const idEstudiante = document.getElementById('idEstudiante').value;

            try {
                const response = await fetch(`/coursesbystudent/${idEstudiante}`, {
                    method: 'GET'
                });

                const data = await response.json();

                if (data.success) {

                    crearTableEstudiante(data.cursosEstudiante);
                    
                    if (data.cursosEstudiante.cursos.length != 0) {
                        crearTableCursos(data.cursosEstudiante.cursos);
                    } else {
                        document.getElementById('cursosEstudiante').innerHTML += '<p>Error - No se ha encotrado ningun curso</p>';
                    }
                    
                } else {
                    document.getElementById('cursosEstudiante').innerText = data.message;

                    setTimeout(() => {
                        document.getElementById('cursosEstudiante').innerText = '';
                    }, 1000);

                }

            } catch (error) {
                console.error(error);
            }

        });

    </script>

</body>

</html>